.container{
    margin:3%;
    margin-bottom: 2%;
}

.subdiv{
    display: flex;
    flex-direction:row;
}
.title{
    font-size:17px;
}
.editt{
    font-size:24px;
}                                                                                                               