<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Employee List</h2>
        <div *ngFor="let employee of employees"> 
        <div class="subdiv">
        <div (click)="onSelect(employee.id)" class="title"><button>{{employee.title}}</button></div>
        <div><button (click)="toUpdate(employee.id)" class='fas fa-user-edit editt'></button></div>
        <div><button (click)="deleteEmployee(employee)" class="material-icons" >delete_sweep</button></div>
        </div>
      </div>
    </div>
    

</body>
</html>
