<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    
    <div class="container" *ngIf="oneEmployee" >
        <div class="row" >

          <div class="col-md-4 one">ID: {{oneEmployee.id}}</div>
          <div class="col-md-4 one">TITLE: {{oneEmployee.title}}</div>
          <div class="col-md-4 one">DESCRIPTION: {{oneEmployee.description}}</div>
    
        </div>
      </div>

</body>
</html>



