body{
background-image: url(https://www.orangetreescreening.com/sites/default/files/styles/large/public/Orange-Tree-Employment-Screening-Criminal-Research_Background-Check-Services.jpg?itok=s93DQzgi);
background-size:cover;
background-position: center;
color:#c3bebe; 
height: 100vh;
}

.header{
    background-color:#383232;
    border-radius: 10px;
}

.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainhead{
    text-align:center;
}

.mainbutton button{
    margin-left: 10px;
    padding: 5px;
}
