<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="col-md-6">
    <h2 class="text-center">Add Employee</h2>
  <form #employeeDetails="ngForm" (ngSubmit)="createEmployee()">
    <div class="form-group" >
      <label for="title">Name:</label>
      <input [(ngModel)]="employee.title" placeholder="Name" name="title" class="form-control" id="title">
    </div>
  
    <div class="form-group">
      <label for="description">Description:</label>
    <input [(ngModel)]="employee.description" placeholder="Description" name="description" class="form-control" id="description">
    </div>
  
    <button class="btn btn-success">Create</button>
  </form>
  </div>

  
</body>
</html>
