<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="col-md-6">
    <h2 class="text-center">Update employee dtls</h2>
  <form #employeeDetails="ngForm" (ngSubmit)="saveChanges(employeeDetails.value)" *ngIf="task">
    <div class="form-group" >
      <label for="title">Title:</label>
      <input [(ngModel)]="task.title" name="title" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="description">Description:</label>
     <input  [(ngModel)]="task.description" name="description" class="form-control" >
    </div>
    
    <button class="btn btn-success">Create</button>
  </form>
  </div>

  
</body>
</html>

